<!DOCTYPE html>
<head>
    <title>Chat App - {{ title }}</title>
    <link rel="icon" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <div class="centered-form">
        <div class="centered-form__box">
            <h1>Join</h1>
            <form method="get" action="/chat">
                <lable>Display Name</lable>
                <input type="text" name="username" placeholder="Display name" required>
                <lable>Room Name</lable>
                <input type="text" name="room" placeholder="Room" required>
                <button>Join</button>
            </form>
        </div>
    </div>
</body>
</html>